:root {
    --white-text: rgb(255, 255, 255);
    --black-text: rgb(40, 40, 40);
    --content-width: clamp(300px, 80vw, 1000px);
    --navbar-color: rgb(176, 183, 195);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* This shouldn't be here. Need to figure out what's causing the content overflow... */
    line-height: 1.5;
    color: var(--black-text);
    background-color: rgb(255, 255, 255);
}
h1 {
    font-size: 1.5em; 
    margin-top: 15px;
    margin-bottom: 10px;
}
h2 {
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 8px;
}
hr {
    width: var(--content-width);
    background: rgb(200, 200, 200); 
    border: 0;
    height: 2px;
}
.navbar {
    height: 50px;
    background-color: var(--navbar-color);
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
}
.navbar-container {
    width: var(--content-width);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.navbar-container > a {
    margin: 10px;
    text-decoration: none;
    color: black;
}
.logo {
    
    margin-left: 0px !important;
    font-size: 25px;
}
.splash {
    --darken-value: rgba(0, 0, 0, 0.75);
    background: linear-gradient(var(--darken-value), var(--darken-value)), url("splash-bg.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 85vh;
}
.splash-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: var(--white-text);
    font-size: clamp(2.5em, 7.5vw, 4.5em);
    line-height: 1;
    width: clamp(0px, 80vw, 1000px);
    text-align: center;
    margin: 25px;
}
.discord-link {
    color: var(--white-text);
    font-size: 25px;
    margin: 5px;
    padding: 12px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
}
.discord-button:hover {
    cursor: pointer;
}
.content {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: var(--content-width);
    font-size:18px;
}
.footnote {
    font-size:16px;
}
#WIP {
    margin: auto;
    text-align: center;
    font-size: 25px;
}
.footer {
    width: var(--content-width);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.university-disclaimer {
    color:rgb(150, 150, 150);
    text-align: right;
    width: clamp(300px, 60vw, 550px);
}
@media only screen and (max-width: 615px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .university-disclaimer {
        text-align: center;
    }
}