:root {
    --white-text: rgb(255, 255, 255);
    --black-text: rgb(0, 0, 0);
    --content-width: clamp(300px, 80vw, 1000px);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* This shouldn't be here. Need to figure out what's causing the content overflow... */
    overflow-x: hidden; 
    line-height: 1.5;
}

.navbar {
    height: 50px;
    background-color: rgb(120, 128, 142);
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.navbar > a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.logo {
    font-size:25px;
}

.splash {
    --darken-value: rgba(0, 0, 0, 0.75);
    background: linear-gradient(var(--darken-value), var(--darken-value)), url("splash-bg.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 85vh;
}

.splash-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--white-text);
    font-size: clamp(2.5em, 7.5vw, 4.5em);
    width: clamp(0px, 80vw, 1000px);
    text-align: center;
    margin: 25px;
}

.discord-link {
    color: var(--white-text);
    font-size: 25px;
    margin: 5px;
    padding: 12px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
}

.discord-button:hover {
    cursor: pointer;
}

.content {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: var(--content-width);
    font-size:18px;
}
hr {
    width: var(--content-width);
}
.content > article > h1 {
    font-size: 2em; 
    margin-top: 20px;
    margin-bottom: 10px;
}

#WIP {
    margin: auto;
    font-size: 25px;
}

.footer {
    width: var(--content-width);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.university-disclaimer {
    color:rgb(150, 150, 150);
    text-align: right;
    width: clamp(300px, 60vw, 550px);
}
@media only screen and (max-width: 615px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }
    .university-disclaimer {
        text-align: center;
    }
}